@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
}

.sideImage {
    width: 33vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.sideImage img {
    width: 33vw;
    height: 100vh;
}

.logo {
    display: flex;
    background-color:rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 12rem;
    width: 33vw;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.logo img{
    height: 135px;
    width: auto;
    align-self: center;
}

.logoText {
    font-family: Norse-Bold;
    font-size: 96px;
    padding: 10px;
    color: white;
    align-self: center;
}

.photoCredit {
    color: white;
    position: absolute;
    bottom: 20px;
}

/* styling for the credit links */
.photoCredit a {
    color: white;
}

.mainContent {
    width: 77vw;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: 600;
    background-color: #f9fafb;
}

.formIntro {
    display: flex;
    padding-top: 10vh;
    margin-left: 3vh;
    flex-direction: column;
    margin-bottom: 5vh;
    text-align: left;
    width: 75%;
    gap: 1vh;
    font-size: 20px;
}

.formContainer {
    padding: 3vh;
    background-color: white;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
    margin-bottom: 3vh;
}

.formHeading {
    margin-bottom: 2vh;
}

.form fieldset{
    border: none;
    display: flex;
    gap: 4vw;
}

.form fieldset input {
    width: 250px;
    padding: 8px;
    margin-bottom: 25px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    font-size: 16px;
}

/* below removes an outline that was applied by default and was hiding the custom css border */

:focus-visible {
    outline: none;
}

.field input:focus {
    border: 1px solid blue;
}

.field input:focus-visible {
    border: 1px solid blue;
}



form fieldset label {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
    color: rgb(61, 61, 61);
    text-transform: uppercase;
}

.field {
    display: flex;
    flex-direction: column;
}

.submitContainer {
    margin-left: 3vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#btnSubmit {
    padding: 15px;
    width: 215px;
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
    background-color: #596D48;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
}

.submitContainer p {
    font-weight: 500;
}

.submitContainer a {
    color: #596D48;
    font-weight: 600;
    text-decoration: none;
}