@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
}

.sideImage {
    width: 33vw;
    height: 100vh;
}

.sideImage img {
    width: 33vw;
    height: 100vh;
}

.logo {
    display: flex;
    background-color:rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 12rem;
    width: 33vw;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.logo img{
    height: 135px;
    width: auto;
    align-self: center;
}

.logoText {
    font-family: Norse-Bold;
    font-size: 96px;
    padding: 10px;
    color: white;
    align-self: center;
}
